# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# ignore the mnesia files
/Mnesia.nonode@nohost/
*.LOG
*.DCD
*.DAT
MnesiaCore.nonode*
MnesiaCore.nonode@nohost_1593_274043_19000
MnesiaCore.nonode@nohost_1593_274060_188000
MnesiaCore.nonode@nohost_1593_293020_175000
MnesiaCore.nonode@nohost_1593_291161_165000
Mnesia.nonode@nohost/DECISION_TAB.LOG
Mnesia.nonode@nohost/LATEST.LOG

# Ignore the images
*.jpeg
*.png
*.jpg
*.zip
apps/userdocs_web/assets/js/bundle.js
apps/userdocs_web/assets/js/chrome_app.js
apps/userdocs_web/assets/js/chrome_app.js.map
mix.lock
