<div class="container">
  <%= Docubit.renderer(@document_version.body).render(
    %{
      current_language_code_id: @current_language_code_id,
      current_version_id: @current_version_id,
      docubit: @document_version.body,
      socket: @socket,
      component: false,
      editor: false,
      content: Base.display_content(assigns, @document_version.body)
    }) %>
</div>
