
<section class="hero">
  <div class="hero-body">
    <p class="title">
      Welcome to UserDocs!
    </p>
  </div>
</section>

<div id="authenticationEvents-hook" phx-hook="authenticationEvents"></div>
