<h2><%= @title %></h2>

<%= f = form_for @changeset, "#",
  id: "team_user-form",
  phx_target: @myself.cid,
  phx_change: "validate",
  phx_submit: "save" %>

  <%= label f, :user_id %>
  <%= select f, :user_id, DomainHelpers.select_list(Users.list_users(), :email) %>
  <%= error_tag f, :user_id %>

  <%= label f, :team_id %>
  <%= select f, :team_id, DomainHelpers.select_list(Users.list_teams()) %>
  <%= error_tag f, :team_id %>

  <%= submit "Save", phx_disable_with: "Saving..." %>
</form>
