<h2><%= @title %></h2>

<%= f = form_for @changeset, "#",
  id: "arg-form",
  phx_target: @myself,
  phx_change: "validate",
  phx_submit: "save" %>

  <%= label f, :key %>
  <%= text_input f, :key %>
  <%= error_tag f, :key %>

  <%= label f, :value %>
  <%= text_input f, :value %>
  <%= error_tag f, :value %>

  <%= submit "Save", phx_disable_with: "Saving..." %>
</form>
